<!DOCTYPE html>
<html>
<body>
<title>Boxes Around Robots</title>
<h1>Boxes Around Robots</h1>
<p>Boxes around robots is a project collecting training data for detecting robots and common game elements in FTC games. Its goal is to amass thousands of 
images with boxes drawn around game elements and robots for training object detectors. It is <a href="http://github.com/kerrj/yoloparser">open source at GitHub</a>
, where all code for the website resides, as well as training images and formatted annotations.
</p>
<h2>Why do you need so much data?</h2>
<p>Modern image processing techniques like neural networks require vast amount of training data to learn to accomplish a task. 
Popular research data-bases like <a href="http://www.image-net.org/">ImageNet</a> have millions of images categorized into classes for this purpose.
To use neural nets to detect FTC robots, we need thousands of images with robots marked in them. This website is a tool for crowdsourcing that task.
Your help is much appreciated!
</p>
<h3 style="margin-bottom:.1em">Instructions</h3>
<p style="margin-top:.1em;margin-bottom:.1em;font-size:.9em;">1. Click and drag to draw a box as accurately as possible around an object, then press ENTER to confirm.</p>
<p style="margin-top:.1em;margin-bottom:.1em;font-size:.9em;">2. Type in the name of the object, then press ENTER to confirm.</p>
<p style="margin-top:.1em;margin-bottom:.1em;font-size:.9em;">3. Repeat for all objects in the scene.</p>
<p style="margin-top:.1em;margin-bottom:.1em;font-size:.9em;">4. Press the "S" key to save the annotations.</p>
<p style="margin-top:.1em;margin-bottom:.1em;font-size:.9em;">5. If needed, press ESCAPE to delete the most recent box</p>
<p style="margin-top:.1em;margin-bottom:.1em;font-size:1.1em;">Objects to mark: "ball"(only RED AND BLUE wiffle balls),"yogaball","robot"</p>

<canvas id="myCanvas" width="100" height="100">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
      class Rect{
        constructor(x,y,width,height){
          this.x=x
          this.y=y
          this.width=width
          this.height=height
        }
      }
      class BoundingBox{
        constructor(name,xmin,ymin,xmax,ymax){
          this.name=name
          this.xmin=xmin
          this.ymin=ymin
          this.ymax=ymax
          this.xmax=xmax
        }
      }
      function redraw(){
        context.clearRect(0,0,canvas.width,canvas.height)
        context.drawImage(img,0,0)
        context.lineWidth=4
        context.strokeStyle='rgba(255,0,0,255)'
        //draw x
        context.beginPath();
        context.moveTo(Math.min(img.width,mousex),0);
        context.lineTo(Math.min(img.width,mousex),img.height);
        context.stroke();
        //draw y
        context.beginPath();
        context.moveTo(0,Math.min(img.height,mousey));
        context.lineTo(img.width,Math.min(img.height,mousey));
        context.stroke();
        if(rect!=undefined){
          context.lineWidth=4
          context.strokeStyle='rgba(255,255,0,255)'
          context.strokeRect(rect.x,rect.y,rect.width,rect.height)
        }
        for(i=0;i<rects.length;i++){
          r=rects[i]
          context.lineWidth=2
          context.strokeStyle='rgba(0,255,0,255)'
          context.strokeRect(r.x,r.y,r.width,r.height)
          n=names[i]
          if(n!=undefined){
            context.fillStyle='rgba(0,255,0,255)'
            context.font='bold 25px Arial'
            context.fillText(n,r.x+2,r.y+18)
          }
        }
        if(name!=""){
            r=rects[rects.length-1]
            context.fillStyle='rgba(255,255,0,255)'
            context.font='bold 25px Arial'
            context.fillText(name,r.x+2,r.y+18)
          }
      }
      
      var press,rect,mousedown
      var rects=[]
      var names=[]
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      var typing=false
      var name=""
      var img=new Image()
      var iname=""
      startInterval()
      loadImage()
      var interval
      var mousex=0
      var mousey=0
      function startInterval(){
        interval=setInterval(function(){
        canvas.width=img.width+img.width/4
        canvas.height=img.height+img.width/4
        redraw()
        },500)
      }
      function stopInterval(){
        clearInterval(interval)
      }
      function writeMessage(message) {
        context.clearRect(0,0,canvas.width,canvas.height) 
        context.font = '10pt Calibri';
        context.fillStyle = 'black';
        context.fillText(message, 10, 25);
      }
      
      function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
      }
      
      function getRect(point1,point2){
        var xmin=Math.min(point1.x,point2.x)
        var xmax=Math.max(point1.x,point2.x)
        var ymin=Math.min(point1.y,point2.y)
        var ymax=Math.max(point1.y,point2.y)
        ymax=Math.min(ymax,img.height)
        xmax=Math.min(xmax,img.width)
        xmin=Math.max(0,xmin)
        ymin=Math.max(0,ymin)
        return new Rect(xmin,ymin,xmax-xmin,ymax-ymin)
      }
      function loadImage(){
        $.ajax({ url: "/getimage", success: function(content) {
            names=[]
            rects=[]
            typing=false
            name=""
            rect=undefined
            redraw()
            if(content==""){
              writeMessage("All images parsed")
              stopInterval()
              return
            }
            iname=content
            img.src='/static/images/'+content
            redraw()
          }
        });
      }
      document.addEventListener('keydown',function(evt){
        if(typing){
          if(evt.code=="Backspace"){
            name=name.slice(0,name["length"]-1)
            redraw()
            return
          }
          if(evt.code=="Enter"){
            names.push(name)
            name=""
            redraw()
            typing=false
            return
          }
          if(evt.code=="Escape"){
            name=""
            typing=false
            if(names.length==rects.length){
              names.pop()
              rects.pop() 
            }else{
              rects.pop()
            }
            redraw()
            return
          }
          name=name+evt.key
          redraw()
          return
        }
        if(evt.code=="Enter"){
          if(rect==undefined){
            return
          }
          typing=true
          name=""
          rects.push(rect)
          rect=undefined
          redraw()
          return
        }
        if(evt.code=="KeyS"){
          bboxes=[]
          for(i=0;i<names.length;i++){
            r=rects[i]
            n=names[i]
            bboxes.push(new BoundingBox(n,r.x,r.y,r.x+r.width,r.y+r.height))
          }
          $.ajax({
            type: "POST",
            url: "/saveresults",
            data: { boxes: bboxes,length:bboxes.length,imgname:iname,width:img.width,height:img.height,success: function(result){
                loadImage()
              } 
            }
           }); 
          return
        }
        if(evt.code=="Escape"){
          if(names.length==rects.length){
            names.pop()
            rects.pop() 
          }else{
            rects.pop()
          }
          rect=undefined
          redraw()
          return
        }
        
      },false)
      
      canvas.onmousemove=function(evt) {
        mousePos = getMousePos(canvas, evt);
        mousex=mousePos.x
        mousey=mousePos.y
        if(mousedown){
          rect=getRect(press,mousePos)
          redraw()
          return
        }
        redraw()
      }
      
      canvas.onmousedown=function(evt){
        press=getMousePos(canvas,evt)
        mousedown=true
      }
      canvas.onmouseup=function(evt){
        mousedown=false
      }
      
    </script>
</canvas>
</body>
</html>