<!DOCTYPE html>
<html>
<body>
<title>Image Annotation Reviewer</title>
<canvas id="myCanvas" width="1000" height="1000">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  class Rect{
    constructor(x,y,width,height){
      this.x=x
      this.y=y
      this.width=width
      this.height=height
    }
  }
  function redraw(){
    context.clearRect(0,0,canvas.width,canvas.height)
    context.drawImage(img,0,0)
    for(i=0;i<rects.length;i++){
      r=rects[i]
      context.lineWidth=2
      context.strokeStyle='rgba(0,255,0,255)'
      context.strokeRect(r.x,r.y,r.width,r.height)
      n=names[i]
      if(n!=undefined){
        context.fillStyle='rgba(0,255,0,255)'
        context.font='bold 25px Arial'
        context.fillText(n,r.x+2,r.y+18)
      }
    }
  }
  var rects=[]
  var names=[]
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  var img=new Image()
  var interval
  startInterval()
  var k=0
  loadAnnotation()
  
  function loadAnnotation(){
    $.ajax({
      type: "POST",
      url: "/getannotation",
      success:function(result){
          rects=[]
          names=[]
          img.src='/static/images/'+result['image']
          bboxes=JSON.parse(result['bboxes'])
          for(j=0;j<bboxes.length;j++){
            xmin=bboxes[j]['xmin']
            xmax=bboxes[j]['xmax']
            ymax=bboxes[j]['ymax']
            ymin=bboxes[j]['ymin']
            rects=rects.concat(new Rect(xmin,ymin,xmax-xmin,ymax-ymin))
            names=names.concat(bboxes[j]['name'])
          }
          k++
        },
      data: { index:k},
      dataType:"json"
    }); 
  }
  function startInterval(){
    interval=setInterval(function(){
    canvas.width=img.width+img.width/4
    canvas.height=img.height+img.width/4
    redraw()
    },500)
  }
  function stopInterval(){
    clearInterval(interval)
  }
</script>
</canvas>
</body>
</html>