<!DOCTYPE html>
<html>
<body>
<title>Image Annotation Reviewer</title>
<p>
<button id="previousButton">Previous</button>
<button id="nextButton">Next</button>
</p>
<canvas id="myCanvas" width="100" height="100">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  class Rect{
    constructor(x,y,width,height){
      this.x=x
      this.y=y
      this.width=width
      this.height=height
    }
    get area(){
      return this.width*this.height
    }
  }
  
  class BoundingBox{
        constructor(name,xmin,ymin,xmax,ymax){
          this.name=name
          this.xmin=xmin
          this.ymin=ymin
          this.ymax=ymax
          this.xmax=xmax
        }
    }
  function contains(mousepos,rect){
    return (mousepos.x>rect.x && mousepos.x<(rect.x+rect.width) && mousepos.y>rect.y && mousepos.y<(rect.y+rect.height))
  }
  function redraw(){
    canvas.width=img.width
    canvas.height=img.height
    context.clearRect(0,0,canvas.width,canvas.height)
    context.drawImage(img,0,0)
    context.lineWidth=4
    context.strokeStyle='rgba(255,0,0,255)'
    //draw x
    context.beginPath();
    context.moveTo(Math.min(img.width,mousex),0);
    context.lineTo(Math.min(img.width,mousex),img.height);
    context.stroke();
    //draw y
    context.beginPath();
    context.moveTo(0,Math.min(img.height,mousey));
    context.lineTo(img.width,Math.min(img.height,mousey));
    context.stroke();
    if(rect!=undefined){
          context.lineWidth=4
          context.strokeStyle='rgba(255,255,0,255)'
          context.strokeRect(rect.x,rect.y,rect.width,rect.height)
      }
    for(i=0;i<rects.length;i++){
      r=rects[i]
      context.lineWidth=1
      context.strokeStyle='rgba(0,255,0,255)'
      context.strokeRect(r.x,r.y,r.width,r.height)
      n=names[i]
      if(n!=undefined){
        context.fillStyle='rgba(0,255,0,255)'
        context.font='bold 10px Arial'
        context.fillText(n,r.x+2,r.y-5)
      }
    }
    if(name!=""){
      context.fillStyle='rgba(255,255,0,255)'
      context.font='bold 15px Arial'
      context.fillText(name,rect.x+2,rect.y+-5)
    }
  }
  var press,rect,mousedown
  var mousex=0;
  var mousey=0;
  var name=""
  var iname=""
  var rects=[]
  var names=[]
  var canvas = document.getElementById('myCanvas');
  var nextButton=document.getElementById('nextButton');
  var previousButton=document.getElementById('previousButton');
  var context = canvas.getContext('2d');
  var img=new Image()
  var interval
  var typing=false;
  startInterval()
  var k=1
  loadAnnotation()
  function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }
  function getRect(point1,point2){
    var xmin=Math.min(point1.x,point2.x)
    var xmax=Math.max(point1.x,point2.x)
    var ymin=Math.min(point1.y,point2.y)
    var ymax=Math.max(point1.y,point2.y)
    ymax=Math.min(ymax,img.height)
    xmax=Math.min(xmax,img.width)
    xmin=Math.max(0,xmin)
    ymin=Math.max(0,ymin)
    return new Rect(xmin,ymin,xmax-xmin,ymax-ymin)
  }
  
  function activateRect(mousepos){
    var deletecand;
    for(g=0;g<rects.length;g++){
      if(contains(mousepos,rects[g])){
        if(deletecand==undefined){
          deletecand=g
        }else if(rects[g].area()<rects[deletecand].area()){
          deletecand=g
        }
      }
    }
    if(deletecand!=undefined){
      rect=rects[deletecand]
      name=names[deletecand]
      rects.splice(deletecand,1)
      names.splice(deletecand,1)
    }
    redraw()
  }
  
  function loadAnnotation(){
    $.ajax({
      type: "POST",
      url: "/getannotation",
      success:function(result){
          rects=[]
          typing=false;
          name=""
          rect=undefined
          names=[]
          iname=result['image']
          img.src='/static/images/'+result['image']
          bboxes=JSON.parse(result['bboxes'])
          for(j=0;j<bboxes.length;j++){
            xmin=bboxes[j]['xmin']
            xmax=bboxes[j]['xmax']
            ymax=bboxes[j]['ymax']
            ymin=bboxes[j]['ymin']
            rects=rects.concat(new Rect(xmin,ymin,xmax-xmin,ymax-ymin))
            names=names.concat(bboxes[j]['name'])
          }
        },
      data: { index:k},
      dataType:"json"
    }); 
  }
  function startInterval(){
    interval=setInterval(function(){
    canvas.width=img.width+img.width/4
    canvas.height=img.height+img.width/4
    redraw()
    },500)
  }
  function stopInterval(){
    clearInterval(interval)
  }
  document.addEventListener('keydown',function(evt){
        if(evt.code=="Digit1"){
          redball()
        }else if(evt.code=="Digit2"){
          blueball()
        }
        if(evt.code=="KeyS"){
          save()
        }
        if(evt.code=="KeyU"){
          undo()
        }
        if(evt.code=="ArrowRight"){
          k++;loadAnnotation()
        }
        if(evt.code=="ArrowLeft"){
          k--;loadAnnotation();
        }
      },false)
      
  canvas.onmousemove=function(evt) {
    mousePos = getMousePos(canvas, evt);
    mousex=mousePos.x
    mousey=mousePos.y
    if(mousedown){
      rect=getRect(press,mousePos)
      redraw()
      return
    }
    redraw()
  }
  redball=function(){
    if(rect==undefined){
      return
    }
    rects.push(rect)
    rect=undefined
    names.push("redball")
    redraw()
  }
  blueball=function(){
    if(rect==undefined){
      return
    }
    rects.push(rect)
    rect=undefined
    names.push("blueball")
    redraw()
  }
  save=function(){
    if(rects.length==0){
      return
    }
    bboxes=[]
    for(i=0;i<names.length;i++){
      r=rects[i]
      n=names[i]
      bboxes.push(new BoundingBox(n,r.x,r.y,r.x+r.width,r.y+r.height))
    }
    $.ajax({
      type: "POST",
      url: "/saveresults",
      data: { boxes: bboxes,length:bboxes.length,imgname:iname,width:img.width,height:img.height,success: function(result){
          k++;loadAnnotation();
        } 
      }
     }); 
  }
  undo=function(){
   if(names.length==rects.length){
      names.pop()
      rects.pop() 
    }else{
      rects.pop()
    }
    rect=undefined
    redraw()
  }
  canvas.onmousedown=function(evt){
    name=""
    press=getMousePos(canvas,evt)
    mousedown=true
  }
  canvas.onmouseup=function(evt){
    mousepos=getMousePos(canvas,evt)
    if(Math.hypot(mousepos.x-press.x,mousepos.y-press.y)<2){
      activateRect(mousepos);
    }
    mousedown=false
  }
  previousButton.onclick=function(){k--;loadAnnotation()}
  nextButton.onclick=function(){k++;loadAnnotation()}
</script>
</canvas>
</body>
</html>